* {
	top: 0;
	left: 0;
	box-sizing: border-box;
	width: 99%;
	margin-left: auto;
	margin-right: auto;
}
a {
	text-decoration: none;
	color: black;
	padding: 5px;
	margin: 0px 10px;
}
.header {
	width: 100%;
	background-color: white;
}
li {
	font-size: 24pt;
}

ul {
	list-style-type: none;
}

.navbar {
	position: fixed;
	width: 100%;
	display: flex;
	gap: 10px;
	z-index: 2;
	background: white;
}
.horizontal {
	text-align: center;
}
.horizontal ul li {
	display: inline;
}
.vertical {
	text-align: center;
	left: auto;
	width: 200px;
}
.vertical ul {
	text-align: center;
	padding-inline-start: 0;
}
.vertical ul li {
	flex-direction: column;
	margin-top: 25px;
}
.active {
	background-color: rgba(129, 255, 255, 0.473);
	border: 1px solid black;
	border-radius: 5px;
	font-weight: 600;
}

a:hover {
	background-color: #f2deba;
}
.home_page {
	font-size: 20pt;
	position: relative;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.flex_container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 50px;
}

.about_page .flex_container {
	align-items: center;
}

.about_page .flex_container img {
	margin-left: auto;
	width: 35%;
}

.grid_container {
	display: grid;
	grid-template-columns: repeat(4, 2fr);
	gap: 10px;
	align-items: center;
	margin-top: 50px;
	font-size: 20pt;
}

.three_rows {
	grid-template-rows: repeat(3, 2fr);
}

.five_rows {
	grid-template-rows: repeat(5, 2fr);
}
.image1 {
	grid-column: 1 / 3;
	grid-row-start: 1;
	width: 100%;
	height: 100%;
}

.image2 {
	grid-row: 1/2 span;
	grid-column: 3/2 span;
	width: 100%;
	height: 100%;
}

.image3,
.image4 {
	width: 100%;
	height: 100%;
	grid-row: 2;
}

.home_page img {
	width: 75%;
}

form .grid_container {
	grid-template-rows: 50px;
	align-items: center;
	justify-items: center;
}
.flex_container span {
	width: 50%;
}

figure {
	display: contents;
}

.home_page figcaption {
	font-size: 12pt;
}

form {
	margin-top: 20px;
	display: contents;
}

input[type="text"],
input[type="email"],
input[type="textarea"] {
	font-size: 20pt;
	border-radius: 10px;
	border: 1px solid rgb(67, 173, 156);
}

iframe {
	grid-row: 3;
	grid-column: 2/ 2 span;
	height: 100%;
}

.left {
	grid-column: 1;
}

.right {
	grid-column: 3;
}

.first {
	grid-row: 1;
}
.second {
	grid-row: 2;
}

input[type="radio"],
input[type="checkbox"] {
	width: 20px;
	height: 20px;
}

button {
	grid-column: 1/4 span;
	font-size: 25pt;
}

.border {
	border: 1px solid rgb(29, 245, 0);
	border-radius: 10px;
}

img {
	border-radius: 20px;
}

#magic {
	font-size: 25pt;
	grid-column: 1/4 span;
	text-align: center;
}

.magic_parent {
	display: contents;
}

button:hover {
	cursor: pointer;
	background-color: blanchedalmond;
	transition: 1s;
}

.burger_button {
	width: 40px;
	height: 40px;
	top: 5px;
	right: 10px;
	position: fixed;
	z-index: 2;
	margin: 0;
	left: auto;
}

.burger_button:hover {
	cursor: pointer;
}

.open_menu {
	width: 0px;
	position: fixed;
	height: 100%;
	background-color: white;
	top: 0;
	left: auto;
	right: 0;
	z-index: 2;
	text-align: right;
	transition: 1s;
}

.close_button {
	width: 40px;
	height: 40px;
	position: relative;
	top: 5px;
	right: 10px;
	left: auto;
	cursor: pointer;
	z-index: 3;
}

.hide {
	visibility: hidden;
}

.show {
	visibility: visible;
}

.form_section {
	position: relative;
}

form {
	position: absolute;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	font-size: 24pt;
	background-color: grey;
	margin-top: 50px;
}

@media screen and (max-width: 768px) {
	.gallery_page .grid_container {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(5, 1fr);
	}
	.image1,
	.image2,
	.image3,
	.image4,
	iframe {
		grid-column: 1/2 span;
	}
	.image1 {
		grid-row: 1;
	}
	.image2 {
		grid-row: 2;
	}
	.image3 {
		grid-row: 3;
	}
	.image4 {
		grid-row: 4;
	}
	iframe {
		grid-row: 5;
	}
	.grid_container,
	input[type="text"],
	input[type="email"],
	input[type="textarea"] {
		font-size: 12pt;
	}
	button {
		font-size: 16pt;
	}
	footer {
		font-size: 16pt;
		height: 30px;
	}
	.flex_container {
		flex-direction: column-reverse;
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	.gallery_page .grid_container {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(4, 1fr);
	}
	.image1,
	.image4,
	iframe {
		grid-column: 1/2 span;
	}
	.image1 {
		grid-row: 1;
	}
	.image2 {
		grid-row: 2;
		grid-column: 1;
	}
	.image3 {
		grid-row: 2;
		grid-column: 2;
	}
	.image4 {
		grid-row: 3;
	}
	iframe {
		grid-row: 4;
	}
}
